/* src/styles/graduation-result.css */

@import './theme.css';

.graduation-result-intro {
  padding-top: calc(var(--header-height) + 20px);
  margin-bottom: 15px;
}

.graduation-title {
  font-size: clamp(22px, 3vw, 32px);
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-top: 1%;
}

.graduation-description {
  font-size: clamp(14px, 2vw, 18px);
  color: #666;
  text-align: left;
  margin-bottom: 20px;
}

.graduation-container {
  width: 100%;
  max-width: 1020px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 20px 30px;
  align-items: flex-start;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.info-section {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
}

.info-section-title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
  text-align: left;
}

.info-section-title p {
  margin-bottom: 0;
}

.form-group-horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  box-sizing: border-box;
}

.form-group-box {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px 15px;
  margin-top: 10px;
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
}

.form-group-box p {
  line-height: 1.5;
  margin-top: 0;
  font-size: 16px;
}

.form-group-text {
  font-size: 16px;
  white-space: nowrap;
  min-width: 50px;
}

.result-section {
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.result-box {
  border: solid #ddd;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 75px;
  max-height: 250px;
  overflow-y: auto;
  text-align: left;
  box-sizing: border-box;
}

.grad-result-button-container {
  margin-top: 15px;
  width: 100%;
}

.grad-result-submit-button {
  width: 100%;
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  box-sizing: border-box;
}

.grad-result-submit-button:hover {
  background-color: var(--primary-hover-color);
}
