/* src/styles/graduation.css */

@import './theme.css';

.graduation-container {
  max-width: 950px;
  width: 100%;
  min-height: 450px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin: 0 auto 25px;
  padding: 20px 30px;
  align-items: flex-start;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.graduation-intro {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding-top: calc(var(--header-height) + 20px);
  padding-bottom: 10px;
  text-align: left;
}

.graduation-title {
  font-size: clamp(20px, 3vw, 27px);
  font-weight: bold;
  color: #333;
  text-align: left;
  margin: 0;
}

.graduation-description {
  font-size: clamp(15px, 2vw, 18px);
  color: #666;
  text-align: left;
  margin-bottom: 20px;
}

.info-section {
  margin-bottom: 30px;
}

.info-section-title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}

.form-group-horizontal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.form-group-text {
  font-size: 16px;
  white-space: nowrap;
  min-width: 50px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 380px;
}

.form-label {
  font-size: 16px;
  white-space: nowrap;
}

.form-select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

#department,
#studentId {
  width: 100%;
  max-width: 400px;
  min-width: 150px;
}

#studentId-title {
  margin-left: 5px;
}

.upload-section {
  width: 100%;
  padding-bottom: 3px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 180px;
  height: 160px;
  padding: 16px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-bottom: 25px;
}

.upload-box:hover {
  border-color: #888;
}

.upload-box p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.upload-box svg {
  margin-bottom: 10px;
}

.form-file {
  display: none;
}

.upload-section-title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-bottom: 7px;
}

.grad-submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.grad-submit-button:hover {
  background-color: var(--primary-hover-color);
}
